@font-face {
  src: url("../../assets/fonts/DecaSerifNew-Regular.woff2") format("woff2");
  font-family: "DecaSerifNew";
  font-weight: 400;
}

@font-face {
  src: url("../../assets/fonts/Mediator-Light.woff2") format("woff2");
  font-family: "Mediator";
  font-weight: 400;
}

@font-face {
  src: url("../../assets/fonts/Mediator-Bold.woff2") format("woff2");
  font-family: "MediatorBold";
  font-weight: 700;
}

@font-face {
  src: url("../../assets/fonts/MediatorNarrow-ExtraBold.woff2") format("woff2");
  font-family: "MediatorNarrow";
  font-weight: 800;
}

@font-face {
  src: url("../../assets/fonts/Milks-Bold.woff2") format("woff2");
  font-family: "Milks";
  font-weight: 700;
}

@font-face {
  src: url("../../assets/fonts/PollsScript-Bold.woff2") format("woff2");
  font-family: "PollsScript";
  font-weight: 700;
}

@font-face {
  src: url("../../assets/fonts/Probel-Regular.woff2") format("woff2");
  font-family: "Probel";
  font-weight: 400;
}

@font-face {
  src: url("../../assets/fonts/Wingdings-Regular.woff2") format("woff2");
  font-family: "Wingdings";
  font-weight: 400;
}
